/* Remove default browser spacing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

/* Remove default body margin */
body {
  margin: 0;
  background: #0b0f14; /* match your cafe background */
}
